@import '../../../styles/index.scss';

.table {
  border-collapse: collapse;
  margin: 0 0 30px 0;
  font-size: 12px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
  background: $container-content-background-color;
  z-index: 1;

  .thead {
    position: sticky;
    top: 0;
    display: flex;
    z-index: 1;
    width: 100%;

    .tr {
      background-color: $brand-color1;
      color: white;
      text-align: left;
      font-weight: bold;
      width: 100%;
    }
  }

  .th, .td{
    width: calc(15% - 10px);
    padding: 5px;
    overflow: hidden;
    display: inline-flex;
    text-overflow: ellipsis;
    white-space: nowrap;
    align-items: center;

    @include above(large) {
      padding: 10px;
    }
  }

  .tbody {
    .tr {
      border-bottom: 1px solid $light-gray-color;
      display: flex;
    }

    tr:nth-of-type(even){
      background-color: $container-content-background-color;
    }
  }
}
