@import '../../../../styles/index.scss';

.alert {
  position: fixed;
  display: flex;
  z-index: 20;
  top: 0;
  padding: 15px;
  background: white;
  font-weight: 700;
  color: red;
  font-size: 12px;
  box-shadow: 0 2px 5px 1px rgba(230, 230, 230, 1);

  button {
    align-self: center;
    flex: 1;
    margin-left: 20px;
  }
}
